*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul{
	list-style-type: none;
}
li{
	position: relative;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	left: 575px;
	top: -35px;
	padding: 10px 30px;
	font-size: 20px;
	color: darkgrey;
	font-family: 'Poppins', sans-serif;
}

li:hover{
	text-decoration: underline;
	color: darkorange;
	background-color: lightgray;
}

.i1{
	padding-left: 5px;
	width: 100%;
}

.d1{
	margin-left: 5px;
	padding-left: 5px;
	position: absolute;
	margin-top: -110px;
	background-color: darkorange;
	height: 350px;
}

h2{
	margin: 10px;
	color: ghostwhite;
	font-family: 'Raleway',sans-serif;
	font-size: 40px;
}
.p1{
	color: ghostwhite;
	font-size: 20px;
	margin-left: 10px;
}
.i2{
	margin-top: -85px;
	width: 700px;
	height: 400px;
	float: right;
}
a{
	text-decoration: none;
	padding: 10px 10px;
	color: ghostwhite;
	display: block;
	background-color: transparent;
	font-size: 20px;
}
a:after{
	background: whitesmoke;
	width: 0px;
	content: "";
	height: 2px;
	bottom: 125px;
	left: 15px;
	transition: 5s linear;
	position: absolute;
}
a:hover:after{
	width:200px;
}
.d2{
	background-color: transparent;
	height: 500px;
	width: 100%;
}
.d2 ul{
	list-style-type: none;
}
.d2 ul li{
	background-color: transparent;
	position: relative;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	left: 100px;
	top: 300px;
	padding: 100px 70px;
	text-align: center;
	font-size: 30px;
	color: black;
	font-family: 'Poppins', sans-serif;	
}
.d3{
	width: 100%;
	height: 900px;
}
.i3{
	width: 50%;
	height: 700px;
	position: relative;
	opacity: 90%;
}
.i4{
	width: 759px;
	height: 700px;
	position: absolute;
	opacity: 90%;
}
.d3 .p2{
	color: orangered;
	font-family: 'Tilt Neon', cursive;
	font-size: 35px;
	position: relative;
	margin-left: 170px;
	top: -400px;

}
.d3 .p3{
	color: orangered;
	font-family: 'Tilt Neon', cursive;
	font-size: 35px;
	position: absolute;
	margin-left: 970px;
	top: 2035px;	
}
.effect{
			position: absolute;
			top: 0;
  			bottom: 0;
  			left: 0;
  			right: 0;
  			height: 100%;
  			width: 100%;
 			 opacity: 0;
 			 transition: .5s ease;
  			background-color: #008CBA;

		}
		.i3:hover .effect{
			opacity: 1;
		}
.d4{
	margin-left: 5px;
	padding-left: 5px;
	position: relative;
	margin-top: -110px;
	background-color: darkorange;
	height: 600px;	
	position: relative;
}
.p4{
	color: whitesmoke;
	margin-left: 10px;
	font-size: 30px;
	font-family: 'Poppins', sans-serif;
	position: relative;
	top: 50px;
}
.p5{
	color: whitesmoke;
	margin-left: 600px;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	position: relative;
	top: 10px;	
}
.d4 a{
	text-decoration: none;
	padding: 10px 10px;
	margin-top: 150px;
	margin-left: 590px;
	color: whitesmoke;
	display: block;
	background-color: transparent;
	font-size: 20px;
}
.d4 a:after{
	background: transparent;
	width: 95px;
	content: "";
	height: 3px;
	bottom: 80px;
	left: 605px;
	transition: 5s linear;
	position: absolute;
}
.d4 a:hover:after{
	background: darkred;
}

.s1{
	background: url("https://cdn.trendhunterstatic.com/thumbs/aerotwist.jpeg?auto=webp");
	background-size: 500px 500px;
	background-repeat: no-repeat;
	border-radius: 50px;
	background-position: left top;
	padding: 50px;
	height: 700px;
	width: 500px;
	margin-left: 200px;
	margin-top: 100px;
}
.p6{
	background-color: dimgrey;
	text-align: center;
	color: whitesmoke;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top:350px;
	margin-left: -50px;
	margin-right: -50px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}
.s2{
	background: url("https://5.imimg.com/data5/ZU/SN/SY/SELLER-16409930/round-bluetooth-speaker-1000x1000.jpg");
	background-size: 500px 500px;
	background-repeat: no-repeat;
	border-radius: 50px;
	background-position: left top;
	padding: 50px;
	height: 700px;
	width: 500px;
	margin-left: 800px;
	margin-top: -700px;
	position: absolute;
}
.p7{
	background-color: lightgray;
	text-align: center;
	color: black;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top:350px;
	margin-left: -50px;
	margin-right: -50px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}
.d5{
	margin-left: 5px;
	padding-left: 5px;
	margin-top: 400px;
	background-color: darkorange;
	height: 300px;
}
.p8{
	color: whitesmoke;
	
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	position: relative;
	top: 50px;
	text-align: center;
}
.ic1{
	position: relative;
	top: -100px;
	left: 380px;
	background-color: dimgrey;
    color: whitesmoke; 
    font-size: 30px ;
    Padding:15px;
	border-radius:50%;

  				/*padding-bottom: 18px;
  				margin-bottom: 145px;*/
}
.d6{
	margin-left: 5px;
	background-color: darkorange;
}
